* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

html,body {
    height: 100%;
}
.container {
    width: 100%;
    height: 100%;
    background: #42455a;
    

}
.menu ul {
    display: inline-flex;
    margin: 50px;
    
}
.menu ul li {
    list-style: none;
    margin: 0 20px;
    color: #b2b2b1;
    cursor: pointer;

}
.logo img{
    width: 30px;
    margin-top: -7px;
    margin-right: 50px;
}
.active {
    color: antiquewhite !important;
}
.signup-btn {
    
    position: absolute;
    top: 40px;
    right: 80px;
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(90deg,#9884fc 0,#00bc8b);
    border-style: 1px solid black;
    border-radius: 20px;
    
}
.signup-btn span {
    padding: 5px 20px;
    display: block;

}
.text-container {
    position: absolute;
    width: 80%;
    height: 70%;
    top: 30%;
    left: 130px;
    color: #ffffff;
}
.page-text {
    width: 40%;
    float: left;
}
.page-text h1 {
    font-size: 43px;
    width: 600px;
    position: relative;
    margin-left: -20px;
}
.page-text p {
    font-size: 15px;
    width: 600px;
    
    line-height: 25px;
    margin: 25px 0 30px -20px;
    color: #b2b2b1;
}
.page-image {
    width: 50%;
    float: right;
    margin-left: 10px;
}
.page-image img {
    width: 100%;
    margin-left: 40px;
    margin-top: -20px;
    padding-left: 50px;
}

.play-btn {
    margin-left: 10px;
    display: inline-flex;
}
.play-btn-inner {
    height: 50px;
    width: 50px;
    background: linear-gradient(90deg,#9884fc 0,#00bc8b);
    border-style: 1px solid black;
    border-radius: 20px;
    border-radius: 50%;
    text-align: center;
}
.play-btn-inner .fa {
    padding: 18px 0;
    font-size: 13px;
    cursor: pointer;
}
small {
    margin: auto 20px;
    cursor: pointer;
    font-size: 13px;
    color: #9884fc;
    letter-spacing: 3px;
    
}
.footer-links {
    left: 0;
    bottom: 0;
    position: absolute;
}
.footer-links ul {
    display: inline-flex;
    margin: 42px 30px;
    text-align: center;
    list-style: none;
}
.footer-links ul li {
    margin: 0 50px;
    cursor: pointer;
    padding: 0 5px 0 5px;
}
.footer-links ul li .fa {
    color: aliceblue;
    font-size: 25px;
}
.footer-links ul li p {
    color: #9884fc;
    margin-top: 15px;
    font-size: 13px;
}
.social-icons {
    right: 72px;
    bottom: 35px;
    position: absolute;
}
.social-icons ul li {
    list-style: none;
    text-align: center;
    margin-top: 5px;
}
.social-icons ul li a {
    color: #999;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 5px;
    display: block;

}










